<div class="breadcrumb">
    <div class="px-10">
        <div class="boxes">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li><a href="{{dm_directoryParents.[1].slug}}">{{dm_directoryParents.[1].name}}</a></li>
                <li><a href="{{dm_directoryParents.[2].slug}}">{{dm_directoryParents.[2].name}}</a></li>
                <li>{{formatOption name}}</li>
            </ul>
        </div>
    </div>
</div>