---
{
"stream": {
"$id": "deepblue-country",
"source": "knowledgeGraph",
"destination": "pages",
"filter" : {
"entityTypes": [
"deepblue_country"
],
"savedFilterIds":[
"dm_restaurents-directory_address_countrycode"
]
},
"fields": [
"id",
"uid",
"meta",
"name",
"address",
"mainPhone",
"slug",
"dm_directoryParents.name",
"dm_directoryParents.slug",
"dm_directoryChildren.name",
"dm_directoryChildren.address",
"dm_directoryChildren.slug",
"dm_directoryChildren.dm_directoryChildren.name",
"dm_directoryChildren.dm_directoryChildrenCount",
"dm_directoryChildren.dm_directoryChildren.slug"
],
"localization": {
"locales": ["en"]
}
},
"urlFormat": "{{slug}}"
}
---
<!DOCTYPE html>
<html lang={{locale}}>
<head>
    {{>head}}
  
    <title>{{name}} - {{neighborhood}}</title>
    <link href="" rel="shortcut icon" type="image/png">
</head>
<body>

  
 

    {{>header}}
    <div class="hero">
    <img class="hero-img" src="images/hero.jpg" alt="banner" title="banner" />
    <div class="w-full bg-opacity-30 bg-blue-primary flex items-center
        justify-center py-12 2xl:pb-11">
        <div class="mx-2 text-center">
             <h1 class="h1 text-center mb-10">{{name}}</h1>
        </div>
    </div>
</div>

    <div class="breadcrumb">
    <div class="px-10">
        <div class="boxes">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>{{formatOption name}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="container-custom mx-auto">
<div class="menu-main-bx  mb-20">
<ul id="city-list" class="city-list text-[13px] md:text-[15px] flex flex-wrap -mx-2   "> 
      {{#each dm_directoryChildren}} 
  	<li class="storelocation-category" >
                <a 
				href="{{slug}}" data-yext-analytics="getRegionDetailPage" class="transition-all duration-300 hover:text-blue"
				>
                {{name}}  ({{dm_directoryChildrenCount}})
                </a>
            </li>
             {{/each}}
           </ul> 	
    </div>
    </div>
    {{>footer}}
</body>
</html>
